.dart_tool/
.packages
.pub-cache/
build/
pubspec.lock
android/.gradle/
android/.idea/
android/local.properties
android/app/release/
*.iml
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
*.xcworkspace
DerivedData/
macos/Pods/
macos/Runner.xcworkspace/
.vscode/
.vscode/
*.log
